@font-face {
    font-family: redhat;
    src: url(red-hat.display.ttf);
}


@font-face {
    font-family: aldrich;
    src: url(Aldrich-Regular.ttf);
}

.topdiv{
    display: block;
    margin: auto;
    border: 1px solid lightgrey;
    border-radius: 3px;
    width: 30vw;
    padding-bottom: 2%;
}

.topdiv h2{
    font-family: Arial;
    padding-left: 5%;
}

.topdiv input{
    display: block;
    margin: 0 auto;
    width: 90%;
    border: 1px solid lightgrey;
    border-radius: 3px;
}

ul{
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    margin: 0 auto;
    width: 25%;
    padding: 0%;
}
li{
    margin-top: 0;
    display: inline-block; 
    width: 90%;
    list-style: none;
    padding: 5%;
    border-bottom: 1px solid lightgrey;
}
li:hover{
    background-color: lightgrey;
}
img{
    float: left;
    margin-right: 1%;
    border-radius: 5px;
}
.artists{
    margin-left: 25%;
    width:fit-content;
    font-family: redhat;
    padding-left: 5%;
}
.artists p{
    margin-top: 0%;
}
.heading{
    font-size: 14pt;
    font-weight: bold;
    margin-bottom: 0%;
}
